<p id="notice"><%= notice %></p>
<h1><%= @category.name %></h1>
<% @category.items.each do |item| %>
    <p>
        <%= link_to item.name, item %>
        <%= item.price %>
        <%= image_tag item.cover_url(:thumb) %>
    </p>
<% end %>
<%= link_to 'Edit', edit_category_path(@category) %> 
